In [1]:
import os
import pandas as pd
from utils import *

from dotenv import load_dotenv
load_dotenv()

True

In [2]:
crash_data_path = os.path.join(os.getenv('PATH_TO_DATA'), 'Crash_Data_(SOR).csv')
df = pd.read_csv(crash_data_path, low_memory=False)

df = df[['X', 'Y', 'OBJECTID']]
df = df.sort_values(by=['X', 'Y']).fillna(0)

df = df[df['X'] != 0]
df = df[df['Y'] != 0]

# For Iowa
df.sort_values(by=['X', 'Y'])
df = df.loc[(df['X'] > -98) & (df['X'] < -89) & (df['Y'] > 39) & (df['Y'] < 44)]

## drop duplicates
df.drop_duplicates(subset=['X', 'Y'], keep='first', inplace=True)

In [3]:
df

                X          Y  OBJECTID
217287 -96.643700  40.233091  11783306
48     -96.643700  40.233091   2181613
524535 -96.630874  42.761803  14844815
405064 -96.627809  42.761829  14725344
793798 -96.622702  42.761846  15695359
...           ...        ...       ...
669387 -90.167288  42.104233  14989667
87794  -90.164347  42.104286   2628369
156309 -90.164323  42.104286   7535115
111080 -90.161321  42.104347   7489886
20570  -90.161309  42.104346   2261909

[628260 rows x 3 columns]

In [4]:
output_file = os.path.join(os.getenv('PATH_TO_DATA'), 'crash_data_cleaned.csv')
df.to_csv(output_file, index=False)